@using System.Globalization
@model IEnumerable<Restaurant_QKA.Models.MenuItem>
@{
    ViewBag.Title = "Search";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="billboard container-fluid">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <!-- Tiêu đề và mô tả -->
                    <div>
                        <h4 class="card-title">Danh Sách Món</h4>
                        <p class="card-description text-muted text-success">danh sách món với từ khóa tìm kiếm: @ViewBag.Query</p>
                    </div>
                    <!-- Nút thêm sản phẩm mới -->
                    <div>
                        <button type="button" class="btn btn-warning newProductButton" id="newProductButton">
                            Thêm Món Mới
                        </button>
                    </div>
                </div>

                <!-- Thanh tìm kiếm và chọn danh mục -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <!-- Tìm kiếm sản phẩm -->
                    <div class="search-container flex-grow-1 me-3">
                        <form class="search-form d-flex align-items-center" method="get" action="@Url.Action("Search","MenuItem")">
                            <input type="search" class="form-control" name="query" placeholder="Nhập từ khóa....." title="Search here">
                        </form>
                    </div>

                    <!-- Chọn danh mục -->
                    <div class="dropdown flex-grow-1 me-3">
                        <a class="btn btn-outline-dark dropdown-toggle w-25" id="categoryDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            Danh Mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                            @if (ViewBag.Categories != null)
                            {
                                foreach (var category in ViewBag.Categories)
                                {
                                    <a class="dropdown-item" href="@Url.Action("ProductsByCategory", "MenuItem", new { CategoryID = category.CategoryID})">@category.Name</a>
                                }
                            }
                            else
                            {
                                <a class="dropdown-item disabled">Không tìm thấy danh mục để hiển thị</a>
                            }
                        </div>
                    </div>

                    <!-- Nút chỉnh sửa -->
                    <div class="d-flex flex-column align-items-end">
                        <button class="btn btn-primary mb-2" id="editbutton" onclick="enableEdit()">Chỉnh Sửa</button>
                        <button class="btn btn-danger" id="cancelbutton" onclick="disableEdit()" style="display:none">Hủy</button>
                    </div>
                </div>
                <!-- Bảng danh sách sản phẩm  -->
                <div class="table-responsive">
                    <!-- Tiêu đề bảng -->
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>Tên Món</th>
                                <th>Hình Ảnh</th>
                                <th>Mô Tả</th>
                                <th>Giá Bán</th>
                                <th>Số Lượng</th>
                                <th>Trạng Thái</th>
                                <th>Ngày Tạo</th>
                                <th id="labelaction" style="display: none">Thao Tác</th>
                            </tr>
                        </thead>
                        <!-- Giá trị từng dòng -->
                        <tbody class="text-center">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="max-width: 150px; word-wrap: break-word;">@item.Name</td>
                                    <td class="py-md">
                                        <img src="@Url.Content("~/Content/MenuItems/" + item.ImageUrl)" alt="Product Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 5px;" />
                                    </td>
                                    <td style="max-width: 200px; word-wrap: break-word; white-space: normal;">@item.Description</td>
                                    <td>
                                        @String.Format(new CultureInfo("vi-VN"), "{0:N0} VND", item.Price)
                                    </td>
                                    <td>
                                        @if (item.Quantity < 10)
                                        {
                                            <span class="badge bg-warning">@item.Quantity</span>
                                        }
                                        else
                                        {
                                            <span>@item.Quantity</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsActive == true)
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Inactive</span>
                                        }
                                    </td>
                                    <td>@item.CreatedDate.ToString()</td>
                                    <!-- Các nút action -->
                                    <td id="contentaction" style="display:none">
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.ItemID },
                                                                         new
                                                                         {
                                                                             @class = "btn btn-outline-facebook editProductButton",
                                                                             @data_id = item.ItemID,
                                                                             id = "editProductButton"
                                                                         })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.ItemID },
                                                                             new
                                                                             {
                                                                                 @class = "btn btn-danger deleteProductButton",
                                                                                 @data_id = item.ItemID,
                                                                                 id = "deleteProductButton"
                                                                             })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

@*Tạo Modal cho chung cho form (Create, Edit)*@
<!-- Modal Create Product -->
<div class="modal fade" id="ProductModal" tabindex="-1" aria-labelledby="ProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1280px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProductLabel">Title Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nội dung form tạo sản phẩm sẽ được load vào đây -->
                <div id="modalProductContent">
                    Loading...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

