@model List<Restaurant_QKA.Models.Coupon>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="billboard container-fluid">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <!-- Tiêu đề và mô tả -->
                    <div>
                        <h4 class="card-title">Danh Sách Coupon</h4>
                        <p class="card-description text-muted">Toàn Bộ Danh Sách Coupon</p>
                    </div>
                    <!-- Nút thêm sản phẩm mới -->
                    <div>
                        <button type="button" class="btn btn-warning newCoupontButton" id="newCoupontButton">
                            Thêm Mới Coupon
                        </button>
                    </div>
                </div>

                <!-- Thanh tìm kiếm -->
                <div class="d-flex justify-content-between mb-4">
                    <!-- Tìm kiếm coupont -->
                    <div class="search-container w-50">
                        <form class="search-form d-flex align-items-center" method="get" action="@Url.Action("Search","Coupont")">
                            <input type="search" class="form-control" name="query" placeholder="Nhập Từ Khóa..." title="Search here">
                        </form>
                    </div>
                    <div>
                        <button class="btn btn-primary" id="editbutton" onclick="enableEdit()">Chỉnh Sửa</button>
                        <button class="btn btn-danger" id="cancelbutton" onclick="disableEdit()" style="display:none">Hủy</button>
                    </div>
                </div>
                <!-- Bảng danh sách coupont  -->
                <div class="table-responsive">
                    <!-- Tiêu đề bảng -->
                    <table class="table table-hover">
                        <thead  class="text-center">
                            <tr>
                                <th>Code Mã Giảm Giá</th>
                                <th>Giá Trị</th>
                                <th>Trạng Thái</th>
                                <th>Ngày Tạo</th>
                                <th>Người Tạo Mã</th>
                                <th id="labelaction" style="display: none">Thao Tác</th>
                            </tr>
                        </thead>
                        <!-- Giá trị từng dòng -->
                        <tbody class="text-center">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="max-width: 150px; word-wrap: break-word;">@item.Name</td>
                                    <td>@item.Value %</td>
                                    <td>
                                        @if (item.StatusCoupon == true)
                                        {
                                            <p class="text-success">Hoạt động</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Không Hoạt động</p>
                                        }
                                    </td>
                                    <td>
                                        @(item.CreatedDate != null ? String.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedDate) : "N/A")
                                    </td>
                                    <td>@(ViewBag.Manager != null ? ViewBag.Manager.Name : "N/A")</td>
                                    <!-- Các nút action -->
                                    <td id="contentaction" style="display:none">
                                        @Html.ActionLink("Thay Đổi Thông Tin", "Edit", new { id = item.CouponID },
                                                                         new
                                                                         {
                                                                             @class = "btn btn-outline-facebook editCoupontButton",
                                                                             @data_id = item.CouponID,
                                                                             id = "editCoupontButton"
                                                                         })
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.CouponID },
                                                                             new
                                                                             {
                                                                                 @class = "btn btn-outline-pinterest deleteCoupontButton",
                                                                                 @data_id = item.CouponID,
                                                                                 id = "deleteCoupontButton"
                                                                             })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- Phân trang -->
                    @*<div class="pagination-container">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.Categories }))
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>

@*Tạo Modal cho chung cho form (Create, Edit, Delete)*@
<!-- Modal Create Product -->
<div class="modal fade" id="CoupontModal" tabindex="-1" aria-labelledby="CoupontModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modaCoupontLabel">Title Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nội dung form tạo sản phẩm sẽ được load vào đây -->
                <div id="modalCoupontContent">
                    Loading...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

